{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}

{% block PartialHead %}
    <meta name="description" content="{{ trans('Ceres::Template.homepageMetaDescription') }}">
    <meta name="robots" content="{{ config("Ceres.meta.robots_home") }}">

    <meta name="google-site-verification" content="la1ntmyqNhG6NLtLOpONtZl1DtwveDHnfeCQbeJFFHU" />

    <meta property="og:title" content="{{ companyName }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}"/>
    <meta property="og:image"
          content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}"/>

    <script type="application/ld+json">
        {"@context": "https://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}
    </script>

    <title>NOUS42 | More than running - Sportbekleidung für Läufer und Fitnessbegeisterte made in Europe - Running and Street Wear</title>

{% endblock %}

{% block PageBody %}
  {% include 'Nous42::Homepage.DefaultHomepage.twig' %}
{% endblock %}
