{% extends getPartial('page-design') %}

{% block PartialHead %}
  {% if category.details[0].metaTitle %}
    <title>{{ category.details[0].metaTitle }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
  {% else %}
    <title>{{ category.details[0].name }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
  {% endif %}

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">
{% endblock %}

{% block PageBody %}
    <div class="container-max page-content">
      <div class="row">
        <div class="col-xs-12">
      {% include category_template( category.id, lang, webstoreConfig.webstoreId ) ignore missing %}
      </div>
    </div>
  </div>
{% endblock %}
