{% macro get_menu(breadcrumbs, categories, currentScopeUrl, counter) %}
    {% import _self as sidemenu %}
    {% set urlNow = currentScopeUrl %}
      {% for category in categories %}
          {% set urlNow = currentScopeUrl ~ "/" ~ category.details[0].nameUrl %}
          {% if category.details[0] %}
              <li id="plentycat_{{ category.id }}" class="{% if category.children is not empty %}ddown {% endif %}{% for breadcrumb in breadcrumbs %}{% if category.id == breadcrumb.id %} active{% endif %}{% endfor %}">
                  <a href="{{ urlNow }}{{ urls.trailingSlashSuffix }}" title="{{ category.details[0].name }}">{{ category.details[0].name }}</a>
                  {% if category.children is not empty  %}
                      <span class="d-lg-none nav-direction" data-toggle="collapse" href="#navDropdown{{ counter }}" aria-expanded="false">
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </span>
                      <ul id="navDropdown{{ counter }}" class="collapse">
                          {{ sidemenu.get_menu(breadcrumbs, category.children, urlNow, counter + 1) }}
                      </ul>
                  {% endif %}
              </li>
          {% endif %}
      {% endfor %}
{% endmacro %}
