{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Nous42::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Nous42::PageDesign.Components.MobileNavigation" ) }}
{{ component( "Nous42::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}
{{ component( "Ceres::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}


{% include "Nous42::PageDesign.Partials.Header.Nous42Header" %}


{% set scriptId = uid() %}

<div>
    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}

    {# set the initialCategory to the default category of the current item #}
    {% if services.template.isCurrentTemplate("tpl.item") and defaultCategory is not null %}
        {% set initialCategory = defaultCategory %}
    {% elseif services.template.isCurrentTemplate('tpl.home.category') %}
        {% set initialCategory = null %}
    {% endif %}

    <mobile-navigation :initial-category="{{ initialCategory | json_encode }}" :include-language="{{ urls.includeLanguage | json_encode }}"></mobile-navigation>
</div>
