{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
    <article class="product-inner">
        <div class="thumb-inner">
            <div class="thumb-image">
                <div class="square-container">
                    <div class="square-inner main-image">
                    <a :href="item | itemURL" :title="item | itemName">
                      <img
                        :src="item.images.all[0].urlSecondPreview"
                        :alt-text="item | itemName"
                        :title-text="item | itemName">
                    </a>
                    </div>
                </div>
            </div>
            <!-- STORE SPECIALS -->
            <slot name="store-special">
                <item-store-special v-if="storeSpecial || item.variation.bundleType == 'bundle'"
                                    :store-special="storeSpecial"
                                    :recommended-retail-price="item.prices.rrp"
                                    :variation-retail-price="item.prices.default"
                                    :special-offer-price="item.prices.specialOffer"
                                    :decimal-count="decimalCount"
                                    :bundle-type="item.variation.bundleType"></item-store-special>
            </slot>
            <!-- ./STORE SPECIALS -->

            <!-- ITEM DETAILS -->
            <slot name="item-details">
            <div class="thumb-content">
                <div class="thumb-meta" v-if="item.prices.default.unitPrice.value > 0">
                    <p class="prices">
                        <span v-if="item.prices.rrp && item.prices.rrp.price.value > 0 && item.prices.rrp.price.value > item.prices.default.unitPrice.value" class="price-view-port">
                          <span class="crossprice" v-if="item.prices.specialOffer">
                               {{ trans("Nous42::Template.instead") }} ${ item.prices.default.unitPrice.formatted }
                           </span>
                           <span class="crossprice" v-else>
                               {{ trans("Nous42::Template.instead") }} ${ item.prices.rrp.unitPrice.formatted }
                           </span>
                           <br>
                        </span>

                        <span class="price">
                            ${ item.prices.default.unitPrice.formatted | specialOffer(item.prices, "unitPrice", "formatted") } *
                        </span>
                    </p>

                    <p class="category-unit-price" v-if="!(item.unit.unitOfMeasurement === 'C62' && item.unit.content === 1)">
                        <span>${ item.unit.content }</span>
                        <span>${ item.unit.names.name }</span>
                        <span v-if="item.variation.mayShowUnitPrice">| ${ item.prices.default.basePrice }</span>
                    </p>
                </div>
                <div v-else class="thumb-meta">
                    <p class="prices">
                        <span class="price">
                              {{ trans("Nous42::Template.onDemandShort") }}
                        </span>
                    </p>
                </div>
                <a :href="item | itemURL" :title="item | itemName" class="thumb-title small">
                    ${ item | itemName }
                </a>
            </div>
            <a :href="item.texts.urlPath + '_' + item.item.id" :title="item | itemName" class="btn btn-outline-primary"><i class="fa fa-arrow-right fa-lg mobile-icon-right"></i><span>{{ trans("Ceres::Template.itemShowItem") }}</span></a>
            </slot>
            <!-- ./ITEM DETAILS  -->
        </div>
    </article>
</script>
